

html {
  /*background-image: url(https://media.giphy.com/media/URZcG7uLd9h4s/giphy.gif);*/
  
  background-image: url(https://media.giphy.com/media/bPiLQFMPRIEX6/giphy.gif);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-family:Lato;
}

#react-target {
  width: 100%;
  height: 100%;
}

.filter-list {
  z-index: 10;
  font-family: Lato;
  /*border-radius: 5px;*/
}



.filter-list input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  font-size: 24px;
  border: 0px;
  border-bottom: 1px solid gray;
}

.filter-list input:focus {
  outline: none;
}
.filter-list ul {
  margin: 0;
  padding: 0;
}



.filter-list ul li {
  list-style-type: none;
  margin: 0;
  color: white;
  padding: 10px 20px;
  border-top: 1px solid gray;
}

.filter-list ul li:hover {
  background: #2980b9;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


h1.title {
  color: white;
  font-family: Bangers;
}


.poll {
  z-index: 10;
  font-family: Lato;
}

h1.title{
  font-size: 5em;
}

.voteChoice {
  font-family: Lato;
  font-size: 2em;
  color: white;
  display: inline-block;
  width: 49%;
  margin: 2px;
  min-height: 2.7em
}


@media screen and (min-width : 868px){
  .list-group {
    height: 300px;
    /*border-radius: 0px 0px 5px 5px;
    overflow: scroll;*/
  }

  h1.title {
    font-size: 11em;
  }

}




.pollBlock {  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#blurb {
  color: white;
  font-size: 30px;
  font-family: Lato;
  text-align: center;
}






@media screen and (max-device-width: 740px) {

}